# Java
*.class
*.jar
*.war
*.ear

# JUnit Test
!hamcrest-core-1.3.jar
!junit-4.12.jar

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
out
build
bin

# Other
*.log
*.swp
*.bak